BODY
{
    font-family:'Source Sans Pro';
}
a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

nav {
    overflow: visible;
}

nav ul a {
    width: 100%;
}

.font50 {
    font-size: 50px;
}
.font40 {
    font-size: 40px;
}

.font30 {
    font-size: 30px;
}
.font13 {
    font-size: 13px;
}

.menu-font {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

.containers {
    min-height:300px;
}
.parallax-container {
    height: 400px;
}

.map-container {
    width: 50%;
    float:right;
    height: 400px;
}
.kontakt-container {
    width: 50%;
    float: left;
    height: 400px;
}

.dataC
{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btnPL {
    background-image: url('flaga_polski.jpg');
    background-position: center;
    background-size: 100px;
    position: fixed;
    bottom: 65px;
    right: 10px
}

.btnEN {
    background-image: url('flaga_anglii.gif');
    background-position: center;
    background-size: 50px;
    position: fixed;
    bottom: 15px;
    right: 10px;
}

.btnLng {
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 15px;
    right: 10px;
}

.btnLngPl {
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0px;
}

.btnLngEn {
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 15px;
    position: fixed;
    top: 35px;
    right: 10px;
    padding: 0px;
}

.btnLngPlMobile {
    text-align: center;
    font-size: 13px;
    width: 50px;
    height: 25px;
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 0px;
}

.btnLngEnMobile {
    text-align: center;
    font-size: 13px;
    width: 50px;
    height: 25px;
    position: fixed;
    top: 100px;
    right: 10px;
    padding: 0px;
    color:white;
}

#kontenerAktualnosci{
    min-height: 100px;
    display: none;
}
.collapsible-header{
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
}

.collapsible-body p {
    padding-top: 0px;
    padding-bottom: 0px;
}

.slider ul.indicators li.indicator-item.active {
    background-color: #ff6f00;
}

.cookiepolicy {
    /*background: #efefef;*/
    display: none;
    bottom: 0;
    font: 14px Arial, Helvetica, sans-serif;
    left: 0;
    padding: 15px 50px;
    position: fixed;
    right: 0;
    text-align: left;
    z-index: 10;
}

.buttoncookie {
    color: #ff6f00;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height: 30px;
    padding: 8px;
}

a:hover, a:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.zindex {
    z-index: 200;
}

.header {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}
.headerTresc {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    font-style: italic;
    text-align: center;
    max-width: 320px;
    margin: 220px auto 0 auto;
    padding: 10px 10px 10px 10px;
}

.triangle-right {
    /*position: relative;*/
    display: inline-block;
    padding:15px;
    margin:1em 1em 3em;
    color:lightgrey;
    width: 300px;
    height: 250px;
    background:#fff;
    border-width: 1px;
    border-style: solid;
}

.triangle-right-med {
    /*position: relative;*/
    display: inline-block;
    padding:15px;
    margin:1em 1em 3em;
    color:lightgrey;
    width: 250px;
    height: 200px;
    background:#fff;
    border-width: 1px;
    border-style: solid;
}

.triangleBox-med {
    height: 100px;
    color: grey;
}

.triangle-right-small {
    /*position: relative;*/
    display: inline-block;
    padding:15px;
    margin:1em 6em 3em 6em;
    color:lightgrey;
    width: 300px;
    height: 250px;
    background:#fff;
    border-width: 1px;
    border-style: solid;
}

/*.triangle-right:after {*/
    /*content:"";*/
    /*position:absolute;*/
    /*bottom:-20px; /!* value = - border-top-width - border-bottom-width *!/*/
    /*left:50px; /!* controls horizontal position *!/*/
    /*border-width:20px 0 0 20px; /!* vary these values to change the angle of the vertex *!/*/
    /*border-style:solid;*/
    /*border-color:lightgrey transparent;*/
    /*/!* reduce the damage in FF3.0 *!/*/
    /*display:block;*/
    /*width:0;*/
/*}*/
.MainHeader {
    font-weight: 900;
    font-size: 30px;
    color: #000;
}

.hrOrangeMain {
    margin: 20px auto 0 auto;
    border-bottom: solid;
    border-width: 1px;
    width: 150px;
    color: #ff6f00;
}

.hrTriangleGora {
    height: 10px;
    width: 50px;
    float: left;
    margin: 10px 0 10px 0;
}

.hrTriangleDol {
    margin: 10px 0 10px 0;
}

.triangleBox {
    height: 150px;
    color: grey;
}

.aktualnosciHeader {
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.aktualnosciStopka {
    /*font-family:'Source Sans Pro';*/
    color: #ff6f00;
    float: right;
    font-weight: 900;
}

.conteinerPad50 {
    padding-bottom: 50px;
    padding-top: 50px;
}

.podejscieMainHeader {
    font-weight: 900;
    font-size: 30px;
    color: #fff;
}

.hrPodejscie {
    margin: 20px auto 0 auto;
    border-bottom: solid;
    border-width: 1px;
    width: 150px;
    color: #fff;
}
.hrPodejscie2 {
    margin: 20px auto 0 auto;
    border-bottom: solid;
    border-width: 2px;
    width: 50px;
    color: #fff;
}

.iconsPodejscie {
    max-width: 100px;
}

.iconsUslugi {
    max-width: 100px;
    margin-bottom: 10px;
}

.uslugiBox {
    display: inline-block;
    padding:15px;
    margin:1em 1em 3em;
    color:grey;
    width: 347px;
    height: 270px;
    background:#fff;
    text-align: center;
}

.hrUslugiBoxGora {
    height: 10px;
    width: 50px;
    margin: 10px auto 10px auto;
}

.uslugiBoxHeader {
    color: black;
    font-size: 20px;
    font-weight: 900;
}

.marginBottom30 {
    margin-bottom: 30px;
}

.partnerzyBox {
    display: inline-block;
    padding: 15px 15px 30px 15px;
    margin:1em 1em 3em;
    color: grey;
    width: 250px;
    height: 220px;
    background:#fff;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

.partnerzyBoxHeader {
    color: black;
    font-size: 20px;
    font-weight: 900;
}

.hrPartnerzyBoxGora {
    height: 10px;
    width: 50px;
    margin: 10px auto 10px auto;
}

.graphicPartnerzy {
    max-width: 150px;
    margin-bottom: 10px;
}

.graphicBoxPartnerzy {
    height: 90px;
}

.pracaSzczegoly {
    color: #ff6f00;
    font-size: 15px;
    font-weight: 900;
}

.hrKontakt {
    width: 50px;
    float: left;
}