a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

nav {
    overflow: visible;
}

nav ul a {
    width: 100%;
}

.font50 {
    font-size: 50px;
}
.font40 {
    font-size: 40px;
}

.font30 {
    font-size: 30px;
}
.font13 {
    font-size: 13px;
}

.menu-font {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

.containers {
    min-height:300px;
}
.parallax-container {
    height: 400px;
}

.map-container {
    width: 100%;
    height: 400px;
}

#owl-demo .item{
    padding-top: 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    height: 300px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    display: block;
}
#owl-demo .item:hover
{
    background: orange;
    text-decoration: none;
}
/*.owl-carousel {
    display: block;
}*/
.dataC
{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btnPL {
    background-image: url('flaga_polski.jpg');
    background-position: center;
    background-size: 100px;
    position: fixed;
    bottom: 65px;
    right: 10px
}

.btnEN {
    background-image: url('flaga_anglii.gif');
    background-position: center;
    background-size: 50px;
    position: fixed;
    bottom: 15px;
    right: 10px;
}

.btnLngPl {
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0px;
}

.btnLngEn {
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 15px;
    position: fixed;
    top: 35px;
    right: 10px;
    padding: 0px;
}

.btnLngPlMobile {
    text-align: center;
    font-size: 13px;
    width: 50px;
    height: 25px;
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 0px;
}

.btnLngEnMobile {
    text-align: center;
    font-size: 13px;
    width: 50px;
    height: 25px;
    position: fixed;
    top: 100px;
    right: 10px;
    padding: 0px;
    color:white;
}
.image{
    height: 200px;
}
#kontenerAktualnosci{
    min-height: 100px;
    display: none;
}
.collapsible-header{
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
}

.collapsible-body p {
    padding-top: 0px;
    padding-bottom: 0px;
}
.collectionPraca{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}

.slider ul.indicators li.indicator-item.active {
    background-color: orangered;
}