<template name="footerEN">
    <div class="footer-copyright amber darken-4 hide-on-med-and-down" style="height: 100px;">
        <div class="navbar" style="height: 100px">
            <nav class="top-nav amber darken-4" style="height: 100px">
                <div class="container">
                    <div class="nav-wrapper">
                        <div class="row" style="margin-bottom: 0px">
                            <a href="/" class="brand-logo"><img src="logo.png" style="max-width: 200px; margin-top: 30px;"></a>
                            <div class="col s7 right">
                                <ul class="right">
                                    <li>
                                        <a href="#start" class="font13 white-text">
                                            <strong>START</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#aktualnosci" class="font13 white-text">
                                            <strong>NEWS</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#naszePodejscie" class="font13 white-text">
                                            <strong>OUR APPROACH</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#uslugi" class="font13 white-text">
                                            <strong>SERVICES</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#partnerzy" class="font13 white-text">
                                            <strong>PARTNERS</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#praca" class="font13 white-text">
                                            <strong>JOB</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#kontakt" class="font13 white-text">
                                            <strong>CONTACT</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
                            <div class="right font13" style="line-height: 20px; height: 20px">
                                COPYRIGHT © 2015 ONEBI. ALL RIGHTS RESERVED.
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-copyright amber darken-4 hide-on-large-only" style="height: 100px;">
        <div class="navbar" style="height: 100px">
            <nav class="top-nav amber darken-4" style="height: 100px">
                <div class="container">
                    <div class="nav-wrapper">
                        <div class="text-center">
                            <a href="/pl" ><img src="logo.png" style="max-width: 200px;"></a>
                        </div>
                        <div class="row">
                            <div class="font13 text-center" style="line-height: 20px; height: 20px">
                                COPYRIGHT © 2015 ONEBI. ALL RIGHTS RESERVED.
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</template>