<template name="navbar">
    <div class="navbar-fixed hide-on-med-and-down">
        <nav class="top-nav amber darken-4">
            <div class="container">
                <div class="nav-wrapper">
                    <div class="row">
                        <a href="" class="brand-logo"><!--<img src="onebi-logo.png">-->OneBI</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#naszePodejscie"><i class="large mdi-action-search right"></i>Nasze podejście</a></li>
                            <li><a href="#aktualnosci"><i class="large mdi-action-view-module right"></i>Aktualności</a></li>
                            <li><a href="#uslugi"><i class="large mdi-action-view-module right"></i>Usługi</a></li>
                            <li><a href="#kontakt"><i class="large mdi-action-view-module right"></i>Kontakt</a></li>
                            <li><a href="#partnerzy"><i class="large mdi-action-view-module right"></i>Partnerzy</a></li>
                            <li><a href="#praca"><i class="large mdi-action-view-module right"></i>Praca</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="navbar-fixed hide-on-large-only" style="height: 250px;">
        <nav class="top-nav amber darken-4" style="height: 250px;">
            <div class="container">
                <div class="nav-wrapper" style="margin-top: 70px">
                    <div class="row">
                        <a href="" class="brand-logo" style="font-size: 80px; margin-top: 5px"><!--<img src="onebi-logo.png">-->OneBI</a>
                        <a href="#" data-activates="mobile-menu" class="button-collapse"  style="margin-top: 30px;">
                            <i class="mdi-navigation-menu" style="font-size: 80px;"></i>
                        </a>

                        <ul class="side-nav" id="mobile-menu">
                            <li><a href="#naszePodejscie" class="waves-effect waves-orange menu-font">Nasze podejście</a></li>
                            <hr/>
                            <li><a href="#aktualnosci" class="waves-effect waves-orange menu-font">Aktualności</a></li>
                            <hr/>
                            <li><a href="#uslugi" class="waves-effect waves-orange menu-font">Usługi</a></li>
                            <hr/>
                            <li><a href="#kontakt" class="waves-effect waves-orange menu-font">Kontakt</a></li>
                            <hr/>
                            <li><a href="#partnerzy" class="waves-effect waves-orange menu-font">Partnerzy</a></li>
                            <hr/>
                            <li><a href="#praca" class="waves-effect waves-orange menu-font">Praca</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>