<template name="mainPage">
    <div class="cookiepolicy amber darken-4 white-text">
        <a class="waves-effect waves-orange white btn right buttoncookie">Close</a>
        <span>
            This website is using cookies.
            We use cookies to ensure that we give you the best experience on our website. <br>
            If you continue without changing your settings, we'll assume that you are happy to receive all cookies on the website.
        </span>
    </div>
    <div class="parallax-container" style="height: 500px">
        <div class="parallax"><img src="header.png"></div>
        {{>header}}
        <div class="section scrollspy" id="aktualnosci" style="padding: 0;"></div>
    </div>
    <div class="white z-depth-5">
        <div class="container conteinerPad50">
            <div class="row text-center">
                <span class="MainHeader">NEWS</span>
                <br><div class="hrOrangeMain"></div>
            </div>
            {{>aktualnosciList}}
            <div class="section scrollspy" id="naszePodejscie" style="padding: 0;"></div>
        </div>
    </div>
    <div class="amber darken-4 z-depth-5" >
        <div class="container conteinerPad50">
            {{>podejscieItem}}
            <div class="section scrollspy" id="uslugi" style="padding: 0;"></div>
        </div>
    </div>
    <div class="white z-depth-5">
        <div class="container conteinerPad50">
            {{>uslugiOpis}}
            {{>uslugiList}}
            <div class="section scrollspy" id="partnerzy" style="padding: 0;"></div>
        </div>
    </div>
    <div class="white z-depth-5">
        <div class="container conteinerPad50">
            {{>partnerzyList}}
            <div class="section scrollspy" id="praca" style="padding: 0;"></div>
        </div>
    </div>
    <div class="white z-depth-5">
        <div class="container conteinerPad50">
            {{>pracaList}}
            <div class="section scrollspy" id="kontakt" style="padding: 0;"></div>
        </div>
    </div>
    <div class="white">
        <div class="container conteinerPad50">
            <div class="row text-center">
                <span class="MainHeader">CONTACT</span>
                <br><div class="hrOrangeMain"></div>
            </div><br>
            {{>kontaktList}}
            <div class="map-container">
                {{> googleMap name="onebiMap" options=onebiMapOptions}}
            </div>
        </div>
    </div>
</template>