<template name="aktualnosciList">
    <div class="slider">
        <ul class="slides">
            {{#each aktualnosci}}
                {{> aktualnosciItem}}
            {{/each}}
        </ul>
    </div>
    <div class="container">
        <div class="card white" id="kontenerAktualnosci">
            <div class="card-content">
                <span class="card-title">{{{titlee}}}</span>
                <p>{{{bodyy}}}</p>
            </div>
        </div>
    </div>
</template>

<template name="aktualnosciItem">
    <li>
        <a class="item link">
        {{#if imagee}}
            <img src="gold.jpg">
        {{else}}
            <img style="background-color: white">
        {{/if}}
        <div class="caption right-align">
            <h3>{{{title}}}</h3>
            <h5 class="light grey-text text-lighten-3">{{{createdAt}}}</h5>
        </div>
        </a>
    </li>
</template>
