<template name="aktualnosciList">
    <div id="owl-demo" class="owl-carousel owl-theme">
        {{#each aktualnosci}}
            <a class="item link">
                {{> aktualnosciItem}}
            </a>
        {{/each}}
    </div>
    <h1>{{{titlee}}}</h1>
</template>

<template name="aktualnosciItem">
    <div class="dataC">{{{createdAt}}}</div>
    <div class="caption center-align">
        <h3>{{{title}}}</h3>
        <h5 class="light grey-text text-lighten-3">{{{body}}}</h5>
    </div>
</template>

<!--<template name="aktualnosciList">
    <div id="owl-demo" class="owl-carousel owl-theme">
        {{#each aktualnosci}}
            <a class="item link">
                {{> aktualnosciItem}}
            </a>
        {{/each}}
    </div>
    {{#if ifClicked}}
        <p>BUM BUM</p>
    {{/if}}
    <h1>{{{titlee}}}</h1>
</template>

<template name="aktualnosciItem">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
        KK
    </a>
        <div class="dataC">{{{createdAt}}}</div>
        <div class="caption center-align">
            <h3>{{{title}}}</h3>
            <h5 class="light grey-text text-lighten-3">{{{body}}}</h5>
        </div>


    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>{{{titlee}}}</h4>
            <p>A bunch of text</p>
        </div>
    </div>
</template>   -->
