<template name="aktualnosciList">
    {{> aktualnosciOpis}}
    {{#each aktualnosci}}
        {{> aktualnosciItem}}
    {{/each}}
</template>

<template name="aktualnosciItem">
    <div class="triangle-right">
        <span class="aktualnosciHeader">{{{tytul}}}</span>
        <br>
        <hr class="hrTriangleGora">
        <br>
        <div class="triangleBox">
            <span>
                {{{krotkaTresc}}}
            </span>
        </div>
        <hr>
        <i>{{{createdAt}}}</i>
        <a href="#modal2" class="collection-itemA modal-trigger">
            <span class="aktualnosciStopka">{{{czytaj}}}</span>
        </a>
        <div id="modal2" class="modal black-text" style="padding-left:30px;padding-top: 30px;position: fixed;">
            <p>{{{bodyA}}}</p>
        </div>
    </div>
</template>

<template name="aktualnosciOpis">
    <!--<div class="row text-center">-->
        <!--<span class="MainHeader">{{{tytul}}}FIRMOWE AKTUALNOŚCI</span>-->
        <!--<br><div class="hrOrangeMain"></div>-->
    <!--</div>-->
    <div class="row">
        <div class="col s4"><p></p></div>
        <div class="col s4"><p>{{{tresc}}}</p></div>
        <div class="col s4"><p></p></div>
    </div>
</template>