<template name="partnerzyList">
    {{> partnerzyOpis}}
    <div class="row">
        {{#each partnerzyLista}}
            <div class="hide-on-med-and-down">
                <div class="col s4 text-center marginBottom30">
                    <div class="partnerzyBox">
                        <div class="graphicBoxPartnerzy">
                            <img src="{{imagee}}" class="graphicPartnerzy">
                        </div>
                        <p class="partnerzyBoxHeader">{{{title}}}</p>
                        <hr class="hrPartnerzyBoxGora">
                        <span>{{{body}}}</span>
                    </div>
                </div>
                <!--<div class="col s1"><p></p></div>-->
            </div>
            <div class="hide-on-large-only hide-on-small-only">
                <div class="col s6 text-center marginBottom30">
                    <div class="partnerzyBox">
                        <div class="graphicBoxPartnerzy">
                            <img src="{{imagee}}" class="graphicPartnerzy">
                        </div>
                        <p class="partnerzyBoxHeader">{{{title}}}</p>
                        <hr class="hrPartnerzyBoxGora">
                        <span>{{{body}}}</span>
                    </div>
                </div>
                <!--<div class="col s2"><p></p></div>-->
            </div>
            <div class="hide-on-med-and-up">
                <div class="col s12 text-center marginBottom30">
                    <div class="partnerzyBox">
                        <div class="graphicBoxPartnerzy">
                            <img src="{{imagee}}" class="graphicPartnerzy">
                        </div>
                        <p class="partnerzyBoxHeader">{{{title}}}</p>
                        <hr class="hrPartnerzyBoxGora">
                        <span>{{{body}}}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>


<template name="partnerzyOpis">
    <div class="row text-center">
        <span class="MainHeader">{{{tytul}}}</span>
        <br><div class="hrOrangeMain"></div>
    </div>
    <div class="row">
        <div class="col s4"><p></p></div>
        <div class="col s4"><p>{{{tresc}}}</p></div>
        <div class="col s4"><p></p></div>
    </div>
</template>