<template name="podejscieItem">
    <div class="card amber lighten-3" style="width: 50%; min-height: 260px; margin-top: 70px; margin-left: 25%; margin-right: 25%">
        <div class="card-image waves-effect waves-block waves-light">

        </div>
        <div class="card-content" style="text-align: center">
            <br><br>
            <span class="card-title activator grey-text text-darken-4">
                {{{tytul}}}
                <br>
                <i class="mdi-navigation-expand-less font50"></i>
            </span>
        </div>
        <div class="card-reveal grey darken-2">
            <p class="white-text">
                {{{tresc}}}
            </p>
            <span class="card-title" style="text-align: center">
                <i class="mdi-navigation-expand-more font50"></i>
            </span>
        </div>
    </div>
</template>