<template name="podejscieItem">
    <div class="row text-center" style="margin-bottom: 0px">
        <span class="podejscieMainHeader">{{{tytul}}}</span>
    </div>
    <div class="row">
        <div class="hrPodejscie"></div>
    </div>
    <div class="row" style="margin-bottom: 0px">
        <div class="col s2"><p></p></div>
        <div class="col s6 white-text"><p>{{{tresc}}}</p></div>
        <div class="col s1"><p></p></div>
        <div class="col s3 white-text"><img src="Glowa2.png" class="iconsPodejscie"></div>

    </div>
    <div class="row">
        <div class="hrPodejscie2"></div>
    </div>
    <div class="row"> </div>
    <div class="row">
        <div class="col s2"><p></p></div>
        <div class="col s3 white-text"><img src="Glowa1.png" class="iconsPodejscie"></div>
        <div class="col s6 white-text"><p>{{{tresc2}}}</p></div>
        <div class="col s1"><p></p></div>
    </div>
</template>