<template name="uslugiList">
    <div class="row">
        {{#each usluga}}
            {{> uslugiItem}}
        {{/each}}
    </div>
</template>

<template name="uslugiItem">
    <div class="hide-on-med-and-down">
        <div class="col s4 text-center marginBottom30" style="height: 350px">
            <img src="{{image}}" class="iconsUslugi">
            <p class="uslugiBoxHeader">{{{title}}}</p>
            <hr class="hrUslugiBoxGora">
            <br>
            <span>
                {{{body}}}
            </span>
        </div>
    </div>
    <div class="hide-on-large-only hide-on-small-only">
        <div class="col s6 text-center marginBottom30" style="height: 350px">
            <img src="{{image}}" class="iconsUslugi">
            <p class="uslugiBoxHeader">{{{title}}}</p>
            <hr class="hrUslugiBoxGora">
            <br>
            <span>
                {{{body}}}
            </span>
        </div>
        <!--<div class="col s1"><p></p></div>-->
    </div>
    <div class="hide-on-med-and-up">
        <div class="col s12 text-center marginBottom30" style="height: 350px">
            <img src="{{image}}" class="iconsUslugi">
            <p class="uslugiBoxHeader">{{{title}}}</p>
            <hr class="hrUslugiBoxGora">
            <br>
            <span>
                {{{body}}}
            </span>
        </div>
    </div>
</template>

<template name="uslugiOpis">
    <div class="row text-center">
        <span class="MainHeader">{{{tytul}}}</span>
        <br><div class="hrOrangeMain"></div>
    </div>
    <div class="row">
        <div class="col s2"><p></p></div>
        <div class="col s4 grey-text"><span>{{{uslugaOpis}}}</span></div>
        <div class="col s4 grey-text"><span>{{{uslugaOpis2}}}</span></div>
        <div class="col s2"><p></p></div>
    </div>
    <div class="row">
        <div class="col s2"><p></p></div>
        <div class="col s8"><hr></div>
        <div class="col s2"><p></p></div>
    </div>
</template>