<template name="uslugiList">
    <ul class="collapsible" data-collapsible="accordion">
        {{#each usluga}}
            <li>
                {{> uslugiItem}}
            </li>
        {{/each}}
    </ul>
</template>

<template name="uslugiItem">
    <div class="collapsible-header white">
        <i class="{{ikona}}" style="font-size: 30px; margin-right: 20px;"></i>{{{title}}}
    </div>
    <div class="collapsible-body white" id="kontenerUslugi">
        {{{body}}}
    </div>
</template>

<template name="uslugiOpis">
    <div class="card-panel white " style="width: 50%; min-height: 260px; margin-top: 70px; margin-left: 25%; margin-right: 25%">
        {{{uslugaOpis}}}
    </div>
</template>