<template name="stronaGlowna">
    {{> navbar}}
    <div class="parallax-container">
        <div class="parallax"><img src="background.png"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <h2 class="header" style="color:white">Parallax</h2>
            <p style="color:white">
                EFEKT PARALLAX
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="background.png"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <p class="grey-text text-darken-3 lighten-3">
                EFEKT PARALLAX
            </p>
        </div>
    </div>
</template>