<template name="stronaGlowna">
        <div class="section white z-depth-5 first-container">
            <div class="container">
                <div class="hide-on-med-and-down">
                    <p>Parallax</p>
                    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>

                </div>
                <div class="hide-on-large-only" style="font-size: 30px;">
                    <p>Parallax</p>
                    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>

                </div>
            </div>
        </div>
    <div class="parallax-container">
        <div class="parallax"><img src="craft.jpg"></div>
    </div>
    <div id="grid-uslugi" class="scrollspy">
        <div class="section white z-depth-5" style="min-height:200px;">
            <div class="container">
                Usługi
                <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
                <br>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="computer.jpg"></div>
    </div>
</template>