<template name="stronaGlowna">
    <div class="cookiepolicy amber darken-4 white-text">
        <a class="waves-effect waves-orange white btn right buttoncookie">Zamknij</a>
        <span>
            Dla zapewnienia łatwości i wygody odbioru przekazywanych informacji oraz w celu usprawnienia funkcjonowania witryn, korzystamy z technologii plików cookies.
            Jeśli nie chcesz, by pliki cookies były instalowane na Twoim dysku zmień ustawienia swojej przeglądarki.
            <br>Dalsze korzystanie z witryny oznacza zgodę na wykorzystanie plików cookies, zgodnie z aktualnymi ustawieniami przeglądarki.
        </span>
    </div>
    <div class="section scrollspy" id="aktualnosci" style="padding: 0;"></div>
    {{>aktualnosciList}}
    <div class="section scrollspy parallax-container" id="naszePodejscie">
        <div class="parallax"><img src="content_background.jpg"></div>
        {{>podejscieItem}}
        <div class="section scrollspy" id="uslugi" style="padding: 0;"></div>
    </div>
    <div class="white z-depth-5">
        <div class="container" style="padding-bottom: 50px; padding-top: 50px;">
            <div class="hide-on-med-and-down">
                {{>uslugiList}}
            </div>
            <div class="hide-on-large-only font30">
                {{>uslugiList}}
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="content_background.jpg"></div>
        {{> uslugiOpis}}
        <div class="section scrollspy" id="kontakt" style="padding: 0;"></div>
    </div>
    <div class="parallax-container" style="padding-top: 0px">
        <div class="map-container">
            {{> googleMap name="onebiMap" options=onebiMapOptions}}
        </div>
    </div>
    <div class="white z-depth-5">
        <div class="container">
            <div class="hide-on-med-and-down">
                <span class="grey-text text-darken-3 lighten-3">{{>kontaktList}}</span>
            </div>
            <div class="hide-on-large-only font30">
                <span class="grey-text text-darken-3 lighten-3">{{>kontaktList}}</span>
            </div>
        </div>
        <div class="section scrollspy" id="partnerzy"></div>
    </div>
    <div class="parallax-container" >
        <div class="parallax"><img src="content_background.jpg"></div>
    </div>
    <div class="white z-depth-5 containers">
        <div class="container">
            <div class="hide-on-med-and-down">
                {{>partnerzyList}}
            </div>
            <div class="hide-on-large-only font30">
               {{>partnerzyList}}
            </div>
        </div>
    </div>
    <div class="section scrollspy parallax-container"  id="praca">
        <div class="parallax"><img src="content_background.jpg"></div>
    </div>
    <div class="white containers">
        <div class="container">
            <div>
                {{>pracaList}}
            </div>

        </div>
    </div>
</template>